#ul{
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
#hh{
  list-style-type: square;
}
#gg{
  list-style-type: decimal-leading-zero;
}
#ff{
  list-style-type: lower-greek;
}
#ii{
  list-style-type: circle;
}
#ooo{
  list-style-type: lower-alpha;
}
.headings{
  text-align: center;
  
}
*{
  background-image: url("");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: center; */
}
a , ol , ul ,form,button,input,::placeholder{
  font-family: 'Courier New', Courier, monospace;
}
nav ,footer{
  background-color: blue;
}
.h{
  color: white;
}
.t{
  color: white;
}
